@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@300&display=swap');

* {
    padding: 0; /* espeçamento interno */
    margin: 0; /* espaçamento externo */
    box-sizing: 0; /* caixa externa da caixa */
}

h1,
h2 {
    color: aqua; /* muda a cor da fonte */
    font-size: 2.5rem; /* muda o tamanho da fonte */
    /* background-color: blueviolet; cor do fundo */
    font-family: 'Press Start 2P', cursive; /* tipo de fonte da letra */
    font-weight: 300; /* tamanho do negrito da fonte */
    font-style: italic; /* estilo da fonte */
    text-align: center;
}

/* sintaxe #id para pegar uma id específica */
#diferentao {
    font-family: 'Roboto Mono', monospace;
    color: brown;
    background-color: darkcyan;
    font-style: oblique;
    font-size: 2cm;
    padding: 5rem, 2rem, 5rem, 2rem;
}

/* id se seleciona por ponto # */
#titulo-pagina {
    color: darkred;
    font-size: 3rem;
    background-image: url(./imagemicones.jpg);
    padding: 5rem;
    border: solid 5px darkred;
}

/* class se seleciona por ponto . */
.titulo-css {
    color: bisque;
    background: rgb(195, 34, 34);
    background: linear-gradient(
        0deg,
        rgba(195, 34, 34, 1) 21%,
        rgba(253, 212, 45, 0.9528011033514968) 97%
    );
}

#teste-corte {
    width: 100%; /* se reduzir o tamanho ele corta a imagem  */
}

img#imagem-icone {
    width: 50%; /* tamanho da imagem */
    height: 30vh; /* altura da imagem */
    object-fit: cover; /* corta a imagem quando nao cabe  */
}

#h3-da-massa {
    padding-left: 5rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    background: rgb(195, 34, 34);
    background: linear-gradient(
        0deg,
        rgba(195, 34, 34, 1) 26%,
        rgba(226, 128, 40, 1) 63%,
        rgba(206, 255, 0, 0.9528011033514968) 99%
    );
}
